/*
Course: SENG 513
Date: November 18, 2023
Assignment 3
Name: Haider Tawfik
UCID: 30097912
*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
    --pixel-size: 1px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --pixel-size-boss: calc( var(--pixel-size) * 3);
    --grid-cell-boss: calc( var(--pixel-size-boss) * 16);
 }

 html, body {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    font-family: 'MedievalSharp', cursive;
 }
 

 #p0Hp {
      color: white;
      font-size: calc(var(--grid-cell)*2);
      position: absolute;
      top: calc(var(--grid-cell)* 1);
      left: calc( var(--grid-cell)* 2);
 }

 #p1Hp {
    color: white;
    font-size: calc(var(--grid-cell)*2);
    position: absolute;
    top: calc(var(--grid-cell)* 1);
    right: calc( var(--grid-cell)* 2); 
 }

 #enemiesLeftp0{
      color: white;
      font-size: calc(var(--grid-cell)*1.5);
      position: absolute;
      bottom: calc(var(--grid-cell)* 1);
      left: calc( var(--grid-cell)* 2);
 }

#enemiesLeftp1{
   color: white;
   font-size: calc(var(--grid-cell)*1.5);
   position: absolute;
   bottom: calc(var(--grid-cell)* 1);
   right: calc( var(--grid-cell)* 3);
}
 
 #wave{
    color: white;
    font-size: calc(var(--grid-cell)*2);
    position: absolute;
    top: calc(var(--grid-cell)* 1);
    left: calc(50% - var(--grid-cell)* 2);
 }


 .health-bar{
    width: calc(var(--grid-cell)* 10);
    height: 16px;
    background-color: red;
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.health-fill{
    height: 100%;
    width: 100%;
    background-color: green;;
    transition: width 0.3s;
}


.flex {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}

#canvasp1 {
   border-right: 1px solid black;
   width: calc(50% - 1px);
   height: auto;
}

#canvasp2 {
   width: 50%;
   height: auto;
}

.endscreen {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   background-image: url("assets/map.png");
   background-size: 100% 100%;
   color: white;
}

.reset {
   border: none;
   background-color: green;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: 'MedievalSharp', cursive;
}
